{% extends 'main/base.html' %}
{%load crispy_forms_tags %}

{% block title %} Login Here {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1> Login </h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center login-form">
        <form method="POST">
            {% csrf_token %}
        {{form|crispy}}
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-info"> Login </button>
        </div>
        <div class="mt-3 row justify-content-center">
            <a href="{%url 'password_reset'%}"> Forgot Password?</a>
        </div>

        </form>
    </div>

    <div class="mt-3 row justify-content-center">
        <p>Don't have an account? Create one <a href="/signup"> here.</a> </p>

    </div>
</div>



{% endblock %}