{% extends 'main/base.html' %}

{% block title %} Welcome! {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <p> You have been logged in! </p>
        <div class="row justify-content-center">
            <p>Thanks for creating an account! You can use this app to create personal to do lists create your own list <a href="/mylists">here</a>.</p>

            <p>You can also customise your user profile <a href="/profile"> here!</a></p>
        </div>
    </div>
</div>
{% endblock %}